In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('songs.csv',encoding='latin1')

In [5]:
df.sample(10)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1313,Nadiya Chale Chale Re Dhara,Manna Dey,BollywoodDance,Safar,8.6/10
2320,Dhoondo Dhoondo Re Sajna,Lata Mangeshkar,BollywoodRomantic,Gunga Jumna,8.8/10
1321,Cocktail Mashup,Multiple,BollywoodDance,Cocktail,9.5/10
1658,Besharmi Ki Height (Remix),"Benny Dayal, Shalmali Kholgade",BollywoodDance,Main Tera Hero,9.3/10
1873,Mujhe Tu Jo Mila,Aaman Trikha,BollywoodRomantic,Khel To Abb Shuru Hoga,8.6/10
815,Imli Ka Boota,"Mohammad Aziz, Sudesh Bhonsle",Bollywood,Saudagar,8.4/10
783,Yeh Kaisi Jagah,"Deepali Sathe, Zubeen Garg",BollywoodSad,Hamari Adhuri Kahani,9.5/10
1193,Kya Dekhte Ho Surat Tumhari,"Asha Bhosle, Mohammed Rafi",BollywoodRomantic,Qurbani,8.9/10
766,Tere Naina,"Shafqat Amanat Ali, Shankar Ehsaan Loy",BollywoodRomantic,My Name is Khan,9.6/10
2274,Nasha Nasha,Neha Bhasin,BollywoodDance,Daddy Cool,9.2/10

In [6]:
df.rename(columns={'Song-Name':'SongName'},inplace=True)

In [7]:
df.shape

(2420, 5)

In [8]:
df.isnull().sum()

SongName           0
Singer/Artists    10
Genre              0
Album/Movie        3
User-Rating        0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

SongName          0
Singer/Artists    0
Genre             0
Album/Movie       0
User-Rating       0
dtype: int64

In [11]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [12]:
df['Singer/Artists'] = df['Singer/Artists'].str.replace(" ", "", regex=False)
df['Album/Movie'] = df['Album/Movie'].str.replace(" ", "", regex=False)

In [13]:
df.head()

,SongName,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"KumarSanu,MikaSingh,NehaKakkar",BollywoodDance,Simmba,8.8/10
2,Coca Cola,"NehaKakkar,TonyKakkar",BollywoodDanceRomantic,LukaChuppi,9.0/10
3,Apna Time Aayega,RanveerSingh,BollywoodDance,GullyBoy,9.7/10
4,Mungda,"JyoticaTangri,Shaan,SubhroGanguly",BollywoodDance,TotalDhamaal,9.1/10
5,Tere Bin,"AseesKaur,RahatFatehAliKhan,TanishkBagchi",BollywoodRomantic,Simmba,9.2/10

In [14]:
df['Genre'] = df['Genre'].apply(lambda x:x.split())

In [15]:
df['User-Rating'] = df['User-Rating'].apply(lambda x:x.split())
df['Singer/Artists'] = df['Singer/Artists'].apply(lambda x:x.split())
df['Album/Movie'] = df['Album/Movie'].apply(lambda x:x.split())

In [16]:
df.head()

,SongName,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"[KumarSanu,MikaSingh,NehaKakkar]",[BollywoodDance],[Simmba],[8.8/10]
2,Coca Cola,"[NehaKakkar,TonyKakkar]",[BollywoodDanceRomantic],[LukaChuppi],[9.0/10]
3,Apna Time Aayega,[RanveerSingh],[BollywoodDance],[GullyBoy],[9.7/10]
4,Mungda,"[JyoticaTangri,Shaan,SubhroGanguly]",[BollywoodDance],[TotalDhamaal],[9.1/10]
5,Tere Bin,"[AseesKaur,RahatFatehAliKhan,TanishkBagchi]",[BollywoodRomantic],[Simmba],[9.2/10]

In [17]:
df['Tags']=df['Singer/Artists']+df['Genre']+df['Album/Movie']+df['User-Rating']

In [18]:
newdf=df.drop(columns=['Singer/Artists','Genre','User-Rating','Album/Movie'])

In [19]:
newdf.head()

           SongName                                               Tags
1       Aankh Marey  [KumarSanu,MikaSingh,NehaKakkar, BollywoodDanc...
2         Coca Cola  [NehaKakkar,TonyKakkar, BollywoodDanceRomantic...
3  Apna Time Aayega   [RanveerSingh, BollywoodDance, GullyBoy, 9.7/10]
4            Mungda  [JyoticaTangri,Shaan,SubhroGanguly, BollywoodD...
5          Tere Bin  [AseesKaur,RahatFatehAliKhan,TanishkBagchi, Bo...

In [20]:
newdf['Tags']=newdf['Tags'].apply(lambda x: " ".join(x))

In [21]:
newdf.head()

           SongName                                               Tags
1       Aankh Marey  KumarSanu,MikaSingh,NehaKakkar BollywoodDance ...
2         Coca Cola  NehaKakkar,TonyKakkar BollywoodDanceRomantic L...
3  Apna Time Aayega        RanveerSingh BollywoodDance GullyBoy 9.7/10
4            Mungda  JyoticaTangri,Shaan,SubhroGanguly BollywoodDan...
5          Tere Bin  AseesKaur,RahatFatehAliKhan,TanishkBagchi Boll...

In [22]:
import nltk

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [24]:
vector=cv.fit_transform(newdf['Tags']).toarray()

In [25]:
vector.shape

(2407, 1698)

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
similarity=cosine_similarity(vector)

In [28]:
similarity

array([[1.        , 0.36514837, 0.40824829, ..., 0.33333333, 0.36514837,
        0.40824829],
       [0.36514837, 1.        , 0.2236068 , ..., 0.18257419, 0.2       ,
        0.2236068 ],
       [0.40824829, 0.2236068 , 1.        , ..., 0.40824829, 0.4472136 ,
        0.5       ],
       ...,
       [0.33333333, 0.18257419, 0.40824829, ..., 1.        , 0.54772256,
        0.40824829],
       [0.36514837, 0.2       , 0.4472136 , ..., 0.54772256, 1.        ,
        0.67082039],
       [0.40824829, 0.2236068 , 0.5       , ..., 0.40824829, 0.67082039,
        1.        ]])

In [29]:
similarity[1]

array([0.36514837, 1.        , 0.2236068 , ..., 0.18257419, 0.2       ,
       0.2236068 ])

In [30]:
newdf[newdf['SongName'] == 'Kabira'].index[0]

np.int64(267)

In [31]:
def recommend(songs):
    song_index=newdf[newdf['SongName'] == songs].index[0]
    distances=sorted(list(enumerate(similarity[song_index])),reverse=True,key=lambda x:x[1])
    for i in distances[1:6]:
        print(newdf.iloc[i[0]].SongName)

In [35]:
recommend('Dekhte Dekhte')

Dilnashin Dilnashin
Hai Junoon
Ladka Yeh Kehta Hai
Char Baj Gaye (Party Abhi Baaki Hai)
Jannatein Kahan

In [33]:
import pickle

In [34]:
pickle.dump(newdf,open('song_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))